<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="container">
        <h2>About ToDo</h2>
        <p>A very simple to do application built with node js, express and ejs</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>